extends layouts/frontend

include includes/_mixins

block head

block content
  .ui.middle.aligned.center.aligned.grid
    .sixteen.wide.ten.wide.tablet.seven.wide.computer.column
      h1 Connexion

      if error
        .ui.red.message
          p= error

      form.ui.large.form(method="post" action="/login")
        .ui.segment
          +field('email', 'email', 'your.email@address.tld', email)
          +field('password', 'password', 'Password')
          button(type="submit").ui.fluid.large.teal.submit.button
            | Se connecter

        // Lien vers la page d'inscription pour ceux qui n'ont pas encore de compte
        p Pas encore inscrit ? 
          a(href="/register") Inscrivez-vous
